html {
     background-color: rgb(135, 222, 205);
 
}



@media only screen and (max-width: 600px) {
     .main {
       font-size: 4vw;   
          
     }
     .input {
          font-size: 1em;;
     }
     h4{
          font-size: 4vw;
          
     }
     .inputAndAddButton {
          
          
          
     }
     .button{
          
     }
   }